
.card-sections {
  position: relative;
 
 

  color: white;
  background-image: url("assets/batement.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 600px;

  


}
.card{
  padding-right: 600px;
  padding-bottom: 30px;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  padding-right: 50px;
}

/* Si tu as vraiment une image <img> */


.card-display {
  display: flex;
  gap: 15px;
}


.card-lorem img {
  height: 190px;
  width: 190px;
}
.card1 {
  display: flex;
}

.colum {
  display: flex;
  background-color: black;
  color: white;
  padding: 6px;
  flex-direction: column;
}

.Lorem {
  color: white;
  background-image: url(assets/arbre.jpg);
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding-top: 400px;
  
}
.Lorem img {
  position: absolute;
}

.row {
  display: flex;
}
.card-display1 {
  display: flex;

  padding-top: 20px;
}

.about{
  display: flex;
  gap: 20px;
  padding-left: 500px;
}
.navbar1{
  display: flex;
  background-color: black;
  color: white;
}
.dolor{
  display: flex;
 align-items: center;
 gap: 10px;
 
}
.dolor img{
  gap: 10px;
  padding-right: 20px;
}
.image{
  height: 181px;
  width: 181px;
  padding-bottom: 20px;
  min-width: 181px;
}
.minus {
display: block;
font-size: 12px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;
}
.home {
  display: flex;
  gap: 19px;
}
.logo {
  font-size: 32px;
  font-weight: bold;
}
.card-image {
  height: 10px;
  width: 10px;
}
.card text {
  display: block;
  font-size: 12px;
}
.card text img {
  height: 10px;
  width: 10px;
}
.card-contenaint {
  display: flex;
  gap: 15px;
}
.card-image {
  height: 100px;
  width: 100px;
}
.card-dolor {
  display: flex;
  gap: 15px;
}
.card-Instagram {
  background-image: url("./image13.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 1420px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  text-align: center;

  position: relative;
}

.card-Instagram img {
  max-width: 100%;
  height: auto;
}
.card-dramas {
  display: flex;
  background-color: black;
  color: white;
}
.card1 img {
  gap: 10px;
}
.column {
  background-image: url(image16.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh; /* au lieu de 1000px */
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  text-align: center;
  position: relative;
}

.row {
  display: flex;
}
.card-Aron {
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
.contact {
  display: flex;
  gap: 20px;

  justify-content: space-around;
}
.gostim  img{
  height: 900px;
  width: 1400px;
  justify-content: space-around;
}
.vest{
display: flex;
gap: 20px;
justify-content: space-around;
}
.vest img{


height: 700px;
width: 700px;
}
.Location{
  display: block;

}
.Location span{
  font-size: 10px;
}
.Australia{
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
.creative{
 
  border: 2px solid black;
  border-radius: 20px;

}
.creat{
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
.Web{
  display: flex; 
  gap: 10px;
}
.Web img{
  height: 10px;
  padding-top: 20px;
}
.Trend{
  display: flex;
  justify-content: space-around;
}
.contact1 {
  display: flex;
  gap: 10px;
background-color: black;
color: white;
  justify-content: space-around;
}
.real-time img{
  
width: 600px;

}
.real-time{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
.Lorem12 {
  display: flex;
  gap: 20px;
}
.Lorem12 img{
  width: 200px;
  height: 200px;
  margin-top: 20px;
}
.card-labore{
  display: flex;
}